* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #e6e0e0;
  margin: 0;
  padding: 40px 0;
  color: white;
}

.container {
  width: 700px;
  margin: auto;
}

.card {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  margin-bottom: 25px;
  color: #111;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card h2 {
  color: #3b82f6;
  margin-bottom: 20px;
  border-bottom: 1px solid #2a2a2a;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-group label {
  width: 150px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  flex: 1;
  padding: 8px 10px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #3b82f6;
}

.radio-group {
  display: flex;
  gap: 15px;
}

.radio-group label {
  display: flex;
  align-items: center;   
  gap: 6px;
  cursor: pointer;
}

.checkbox-group {
  margin-left: 0px;
  margin-bottom: 10px;
}

.terms-link {
  color: #3b82f6;
  cursor: pointer;
  margin-left: 5px;
}

.terms-link:hover {
  text-decoration: underline;
}

.terms-box {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  background-color: #bdbaba;
  border-radius: 8px;
  font-size: 14px;
}


.submit-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 165px;
  margin-top: 10px;
  width: calc(65% - 150px);
}

.submit-btn:hover {
  background: #2563eb;
}

.error {
  color: #ff4d4d;
  font-size: 13px;
  margin: -8px 0 8px 150px;
}

.global-error {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;   
  color: #ff4d4d;   
  text-align: left;
  margin-left: 0%;
}


.divider {
  border: none;
  border-top: 1px solid #2a2a2a;
  margin: 20px 0;
}

.summary p {
  margin: 6px 0;
}

.small-input {
  width: 200px;
  flex: unset;
}
